@font-face {
    font-family:Norse-Bold;
    src:url(Norse-Bold.otf);
}

body {
    display:flex;
    flex-direction:row;
    height:100vh;
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
}

#sidebar {
    color:white;
    padding-top:12rem;
    background-image:url("background.png");
    background-size:cover;
    width:max(40%, 250px);
    display:flex;
    flex-direction:column;
    align-items:center;
}

#sidebar a {
    color:#bebebe;
}

#photo-cred {
    margin-top:auto;
    font-size:small;
    color:#bebebe;
}

#title {
    width:100%;
    background-color:#0a0a0a71;
    height:20%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:0;
    padding:1rem 0;
}

h1 {
    font-family:Norse-Bold;
    font-size:5rem;
}

img {
    height:100%;
}

#main {
    display:flex;
    flex-direction:column;
}

#main>*{
    padding-left:3rem;
    padding-right:min(12rem, 20%);
    flex:1;
}

form {
    display:grid;
    grid-template:repeat(4, 20%) / repeat(2, min(50%, 200px));
    column-gap:min(15%,50px);
    row-gap:20px;
    padding-top:20px;
    padding-bottom:30px;
    box-shadow: inset 0 -1px 3px grey;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:12px;
}

form>h2 {
    padding:0;
    margin:0;
}

div:nth-child(2) {
    grid-column-start:1;
}

input {
    width:100%;
    border:2px solid #E5E7EB;
    outline:0;
    border-radius:5px;
}

input:focus {
    border-color:#2856d9;
    box-shadow:0 0 4px grey;
}

input:user-invalid {
    border-color:#b91c1c;
}

span {
    color:#b91c1c;
}

.grey {
    display:flex;
    flex-direction:column;
    background-color:#f9fafb;
}

button {
    font-weight:650;
    background-color:#596D48;
    padding:10px 25px;
    max-width:175px;
    border-radius:10px;
    border:0;
    color:white;
}

button:hover {
    background-color:#36422c;
    color:rgb(204, 204, 204);
}

button:active {
    transform:scale(1.05);
}

#disclaimer {
    padding-top:7rem;
    font-size:1.25rem;
    font-weight:800;
    font-size:min(2vw, 24px);
}

#bottom {
    padding-top:2rem;
}

#bottom a {
    color:#36422c;
    text-decoration:none;
    font-weight:800;
}
